Source: tolua++
Section: devel
Priority: optional
Maintainer: Vincent Cheng <Vincentc1208@gmail.com>
Build-Depends: debhelper (>= 9), liblua5.1-dev, scons
Standards-Version: 3.9.3
Homepage: http://www.codenix.com/~tolua/
Vcs-Svn: svn://svn.debian.org/svn/collab-maint/deb-maint/tolua++/trunk
Vcs-Browser: http://svn.debian.org/wsvn/collab-maint/deb-maint/tolua++/trunk

Package: libtolua++5.1-dev
Section: libdevel
Architecture: any
Depends: liblua5.1-dev, ${misc:Depends}, ${shlibs:Depends}
Description: extended tool to integrate C/C++ code with Lua (devel)
 tolua++5.1 is an extension of toLua, a tool to integrate C/C++ code with
 Lua. tolua++5.1 includes new features oriented to c++, such as class
 templates and is compiled with the newest lua 5.1.
 .
 Based on a "cleaned" header file, tolua++ automatically generates
 the binding code to access C/C++ features from Lua. Using Lua-5.1 API and
 metamethod facilities, the current version automatically maps C/C++
 constants, external variables, functions, namespace, classes, and methods
 to Lua. It also provides facilities to create Lua modules.
